html, body {
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #FFF
}
header, nav, section, article, aside, footer {
    display: block
}
.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container img, .container a {
    height: 100%;
    width: 100%;
}
.container .photos ul {
    list-style: none;
    font-size:0;
    padding: 0;
    margin: 0
}
.container ul, .container li {
    padding: 0;
    list-style: none;
    list-style-type: none;
    height: 100%;
    width: 100%;
}
.container ul {
    position: relative;
    margin: auto;
    overflow-x: hidden;
    white-space: nowrap;
}
.container li {
    display: inline-block;
    border: none;
    overflow: hidden
}
.prevImage {
    position: absolute;
    left: 20px;
}
.nextImage {
    position: absolute;
    right: 20px;
}

.nextImage img, .prevImage img {
    width: 50px;
}

.vertical .prevImage {
    left: 220px;
    top: 20px;
}

.vertical .nextImage {
    left: 220px;
    top: 350px;
}